Java y Android/palindromo/src/main/resources/palindromo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns:tns="http://soa.com/palindromo" targetNamespace="http://soa.com/palindromo">
	<xs:element name="request">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="palabra" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="response">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="esPalindromo" type="xs:boolean"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
