Java y Android/ExamenSoa3SeleccionPaquete/src/main/resources/paquete.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://soa.com" targetNamespace="http://soa.com" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="entradaPaquete">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="monto" type="xs:double"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="salidaPaquete">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="paquete" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
