Java y Android/ExamenSoa3CapturaDatos/server/resources/entradaDatos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://soa.com" xmlns:tns="http://soa.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="entradaDatosIni">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="nombres" type="xs:string"/>
				<xs:element name="apePaterno" type="xs:string"/>
				<xs:element name="apeMaterno" type="xs:string"/>
				<xs:element name="correo" type="xs:string"/>
				<xs:element name="noTarjeta" type="xs:int"/>
				<xs:element name="codSegTarjeta" type="xs:int"/>
				<xs:element name="fechaExpiracion" type="xs:string"/>
				<xs:element name="monto" type="xs:double"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="salidaDatosIni">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="respuesta" type="xs:boolean"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
  </wsdl:types>
</wsdl:definitions>
